*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    width: 100%;
    height:100px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: bold;
}
.main{
    width:100%;
    height: 800px;
    border-width: 1px 0 0 0;
    border-style: solid;
    position: relative;
    display:flex;

}
.sidebar{
    height:100%;
    width:10%;
    position:relative;
    display: flex;
    flex-direction: column;
    gap:2em;
    align-items: center;
    padding-top:8em;
    padding-left:4em;
}
.add{
    padding:5px;
    border-style: solid;
    border-width: 0.5px;
}
.add:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.content{
    height: 800px;
    width:80%; 
    margin-top: 2em;
    border-style: solid;
    margin-left: 3em;
    background-color: #fcfcfc;
    padding-top:3em;
    padding-left: 3em;
    font-size:1.5em;
}
.sidebar-title-current{
    cursor:pointer;
    transform:scale(1.2);
    font-weight: bold;
}
.sidebar-title:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.input-no{
    height:2em;
    width:8em;
    display:none;
}
.input-yes{
    height:2em;
    width:8em;
}
.edit-button{
    position:absolute;
    top: 10%;
    right:10%;
    border-style: solid;
    border-width: 0.5px;
    width: max-content;
    padding: 4px;
    font-size:0.8em;
    border-radius:10px;
    background-color:aliceblue;
}
.edit-button:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.save{
    position: absolute;
    top:5%;
    right:5%;
    font-size: 1rem;
    width: max-content;
    border-width: 1px;
    border-style: solid;
    padding:7px;
    border-radius: 10px;
    background-color: green;
    color:white
}
.save:hover{
    cursor: pointer;
    transform: scale(1.1);
}